.purple {
  background: rgba(55, 0, 117, 1);
  color: white;
}

.light-red {
  background: rgba(158, 42, 43);
  color: white;
}

.yellow {
  background: rgb(255, 179, 65);
  color: rgb(0, 0, 0);
}

.grey {
  background: rgb(228, 228, 228);
  color: black;
}

.light-grey {
  background: rgb(247, 247, 247);
}

.transparent {
  background: none;
}

.title-text {
  font-size: 3.5rem;
}

.list-none {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.pointer:hover {
  cursor: pointer
}

.link-none {
  color: inherit;
  text-decoration: none;
}

.link-none:hover {
  color: inherit;
  text-decoration: none;
}

.full-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.header {
  overflow: hidden;
  width: 100%;
  background: rgb(51, 92, 103) repeat-x;
  color: white;
}

.header-placeholder {
  padding-top: 5rem;
 
}

.column {
  flex: 0 0 15rem;
}

.column-height {
  min-height: 30rem;
}

.hover-shadow {
  top: 0;
  bottom: 0;
}
.hover-shadow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.header-text {
  font-size: 2rem;
}

.header-margin {
  margin-left: 2rem;
}



@media (max-width: 768px) {
  .header-text {
    font-size: 2rem;
  }
  .header-margin {
    margin-left: 0;
  }
  .header {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .header-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .header-text {
    font-size: 1.5rem;
  }

}