.purple {
  background: rgba(55, 0, 117, 1);
  color: white;
}

.light-purple {
  background: rgba(98, 0, 151, 1);
  color: white;
}

.yellow {
  background: rgba(253, 186, 49, 1);
  color: rgb(0, 0, 0);
}

.grey {
  background: rgb(228, 228, 228);
  color: black;
}

.light-grey {
  background: rgb(247, 247, 247);
}

.column-width {
  width: 15rem;
}

.column-height {
  min-height: 30rem;
}

.background-height {
  height: 100vh;
}

.transparent {
  background: none;
}

.title-text {
  font-size: 3.5rem;
}

.list-none {
  list-style-type: none;
  margin: 0;
  padding: 0
}