.purple {
  background: rgba(55, 0, 117, 1);
  color: white;
}

.light-red {
  background: rgba(158, 42, 43);
  color: white;
}

.yellow {
  background: rgba(224, 159, 62);
  color: rgb(0, 0, 0);
}

.grey {
  background: rgb(228, 228, 228);
  color: black;
}

.light-grey {
  background: rgb(247, 247, 247);
}

.transparent {
  background: none;
}

.title-text {
  font-size: 3.5rem;
}

.list-none {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.pointer:hover {
  cursor: pointer
}

.link-none {
  color: inherit;
  text-decoration: none;
}

.link-none:hover {
  color: inherit;
  text-decoration: none;
}

.full-screen {
  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header {
  position: absolute;
  width: 100vw;
  background: rgb(51, 92, 103);
  color: white;
}

.header-placeholder {
  padding-top: 5rem
}

.column {
  flex: 0 0 15rem;
}

.column-height {
  min-height: 30rem;
}

.hover-shadow {
  top: 0;
  bottom: 0;
}
.hover-shadow:hover {
  background: rgba(0, 0, 0, 0.1);
}

